@import url('https://fonts.googleapis.com/css?family=Roboto Mono:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*---------- Header ---------------------------------------------*/

.home-transparent-wrapper {
    height: 100%;
    width: 100%;
    clear: both;
    margin: 0;
}

header {
    clear: both;
}

.nav {
    width: 100%;
    height: 50px;
    margin: 0px;
    padding: 0px;
    clear: both;
    background: #080808;
    border-bottom: #080808 solid 2px;
    position: fixed;
    z-index: 1;
}

.spacer-one img {
    text-align: center;
    z-index: 0;
    margin: 0;
    padding: 0;
    width: 80%;
    margin-left: 10%;
    margin-top: 150px;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes hero-zoom {

    from{
      transform: scale(1)
    }
    to {
      transform: scale(1.1)
    }
  }

.covid-warning {
    position: fixed;
    width: 100%;
    height: 20px;
    background: red;
    font-size: 14px;
    font-family: "Exo";
    font-weight: 400;
    margin: 0px;
    padding: 0;
    margin-top: 52px;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.covid-warning p {
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
}

ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

.nav li {
    width: 10%;
    margin: 12px;
    padding-top: 5px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 2px;
    list-style: none;
    background: #111111;
    align-self: center;
    box-shadow: 5px 5px 2px #000;
}

.nav a:hover {
    color: rgb(0, 148, 247);
    font-weight: bold;
}

.nav a {
    color: #fff;
    font-style: inherit;
    font-family: "Exo";
    font-weight: 200;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
}

.spacer-one {
    width: auto;
}

#active {
    color: rgb(0, 148, 247);
    font-weight: bold;
}

iframe {
    margin-bottom: 10px;
    border-color: #fff;
    border-style: solid;
    border-width: 1px;
}

.spacer-three {
    width: auto;
    height: 20px;
}

.events-box {
    margin: 0;
    padding: 0;
    background-color: #1d1d1d;
    height: auto;
    width: 100%;
}

.event-dates {
    color: #fff;
    font-size: 14px;
    font-family: "Roboto Mono";
    font-weight: 400;
    list-style: none;
}

.event-dates li {
    padding-top: 12px;
    padding-bottom: 12px;
}

.contacts-back {
    background-image: url("../images/ContactsBack.jpg");
    background-color: #000000;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat center center;
    padding-bottom: 50px;
    padding-top: 120px;
   }

.home-back {
    background-image: url("../images/HomeBack.jpg");
    background-size: cover;
    background-repeat: no-repeat center center;
    background-color: #000000;
    height: auto;
    width: 100%;
    padding-bottom: 400px;
    border-bottom: solid #1d1d1d 1px;
   }

.home-text-back {
    background-image: url("../images/HomeTextBack.jpg");
    background-color: #000;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat center center;
    padding-top: 50px;
    padding-bottom: 80px;
   }

.contact-form {
    width: 300px;
    padding: 2px;
    position: absolute;
    text-align: center;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    background: #1d1d1d8a;
}


.contact-form h2 {
    font-family: "Exo";
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
}

.contact-form input[type = "submit"] {
    text-transform: uppercase;
}

.contact-form input[type = "submit"]:hover {
    color: rgb(0, 148, 247);
    cursor: pointer;
}

.contact-form input {
    border: 0;
    margin: 20px auto;
    display: block;
    background: none;
    text-align: center;
    border: 2px solid white;
    padding: 10px 12px;
    width: 120px;
    outline: none;
    font-family: "Roboto Mono";
    color: #fff;
    border-radius: 24px;
    transition: 0.25s;
}

.contact-form input:focus {
    width: 180px;
    border-color: rgb(0, 148, 247);
}

.contact-form input[type = "submit"]:focus {
    color: #fff;
    background: rgb(0, 148, 247);
}

.members img {
    height: 350px;
    width: 350px;
    border: #fff solid 2px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.members p {
    height: 350px;
    width: 350px;
    font-family: "Roboto Mono";
    font-size: 12px;
    margin: 0;
    padding: 0;
}

.member-one-row {
    height: 450px;
    width: 65%;
    margin: 0;
    padding: 0;
    margin-left: 17%;
    background-color: #08080885;
    text-align: center;
    align-self: center;
}

.member-one {
    float: left;
    margin: 0;
    padding: 0;
    margin-left: 50px;
}

.member-one-info {
    float: right;
    margin: 0;
    padding: 0;
    margin-right: 50px;
    margin-top: 50px;
    padding-top: 20px;
    text-align: justify
}

.member-two-row {
    height: 450px;
    width: 65%;
    margin: 0;
    padding: 0;
    margin-left: 17%;
    background-color: #08080885;
    text-align: center;
    align-self: center;
}

.member-two {
    float: right;
    margin: 0;
    padding: 0;
    margin-right: 50px;
}

.member-two-info {
    float: left;
    margin: 0;
    padding: 0;
    margin-left: 50px;
    margin-top: 50px;
    padding-top: 25px;
    text-align: justify;
}

.hr-solid {
    clear: both;
    width: 65%;
    border-style: solid;
    border-color: #fff;
    margin-top: 40px;
    margin-bottom: 40px;
}

.hr {
    clear: both;
    width: 35%;
    margin-top: 40px;
    margin-bottom: 40px;
    border-bottom: #fff 2px;
    border-style: dashed;
}

.heading-red {
    text-transform: uppercase;
    font-family: "Roboto Mono";
    letter-spacing: 12px;
    color: red;
    text-align: center;
}

body p b {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    text-decoration: overline #fff;
}

#names {
    text-decoration: none;
    font-size: 20px;
    font-weight: 200;
    float: right;
}

#names-left {
    text-decoration: none;
    font-size: 20px;
    font-weight: 200;
}

/*------------------ Events Page --------------------------------*/

.spacer-events {
    clear: both;
    width: 100%;
    height: 180px;
}

.events-box {
    float: left;
    background: none;
}

.event-date-row {
    clear: both;
    height: 93px;
    width: 80%;
    margin: 0;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 0;
    padding-top: 3px;
    font-family: "Exo";
    background-color: rgba(255, 255, 255, 0.062);
}

.event-black-box {
    background: black;
    margin: 12px;
    width: auto;
    height: 69px;

}

.event-date-description, .event-date-description b {
    float: left;
    text-align: center;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.event-cancelled, .event-cancelled p {
    float: right;
    text-align: center center;
    text-transform: uppercase;
}

.event-date-description, .event-cancelled {
    display: inline-block;
}

.event-date-description {
    width: auto;
    margin: 0px;
    margin-left: 12px;
    margin-bottom: 12px;
    background: none;
    cursor: pointer;
}

.event-cancelled {
    margin: 0;
    background: red;
    padding: 0;
    margin-top: 12px;
    margin-right: 12px;
    cursor: pointer;
}

.event-cancelled p {
    margin: 0;
    padding: 12px;
}

#event-date {
    font-size: 18px;
}

#event-location {
    font-size: 14px;
}

/*---------- Footer ---------------------------------------------*/

footer {
    clear: both;
    margin: 0;
    padding: 0;
    height: 80px;
    width: 100%;
}

.footer-container {
    clear: both;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    clear: both;
    background-color: #080808;
    border-top: #080808 solid 5px;
    position: absolute;
}

.footer-list {
    text-align: center;
}

.footer-list div, a{
    color: #fff;
    display: inline-block;
}

.napalm-logo div i {
    clear: both;
    font-size: 25px;
    display: inline-block;
    vertical-align: middle;
}

.napalm-logo img {
    height: 80px;
    vertical-align: middle;
}

.social-link-left a, .social-link-right a {
    padding-top: 10px;
}

.social-link-left, .social-link-right {
    width: 45px;
    height: 45px;
    margin-left: 12px;
    margin-right: 12px;
    list-style: none;
    background: #111111;
    align-self: center;
    vertical-align: middle;
    box-shadow: 0px 0px 0px #000;
    border-radius: 40px;
    position: initial;
}

.social-link-left a:hover, .social-link-right a:hover {
    color: rgb(0, 148, 247);
    font-weight: bolder;
}


/*------------------- Body ---------------------------------------*/

body {
    background: url("../images/BioBack.jpg") fixed;
    background-repeat: no-repeat center center;
    margin: 0;
    padding: 0;
}

body h2, p {
    color: #fff;
}

.heading-who {
    font-family: "Roboto Mono";
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 10px;
}

hr {
    color: "white";
    text-align: center;
    width: 35%;
}

.paragraph-text {
    font-family: "Roboto Mono";
    font-size: 12px;
    font-weight: 200;
    text-align: center;
}

.transparent-wrapper {
    margin-right: 0px;
    width: auto;
    height: 700px;
    background-color: rgba(0, 0, 0, 0);
}

.spacer-one {
    height: 300px;
}

.spacer-two {
    height: 100px;
}

.section-media {
    margin-bottom: 100px;
}

/*----------------------- Media Queries Mobile ------------------------------*/

@media screen and (device-width:320px) {

    /*---------- Header ---------------------------------------------*/

.nav {
    position: fixed;
    clear: both;
    width: 320px;
}

.nav-bio {
    z-index: 0;
    margin-top: 0;
    clear: both;
    margin-bottom: 20px;
}

.nav li {
    width: auto;
    margin: 2px;
    margin-top: 12px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
}

.spacer-one {
    width: 320px;
}

.spacer-two {
    height: 10%;
    width: 320px;
}

.spacer-contact {
    height: 30%;
    width: 320px;
}

.home-back {
    padding-bottom: 400px;
}

iframe {
    height: auto;
    width: 80%;
    margin-left: 12px;
}

.members {
    height: auto;
    width: 320px;
}

.members img {
    height: 230px;
    width: 230px;
    border: #fff solid 2px;
    margin: 30px;
    clear: both;
    margin-bottom: 0;
    padding-bottom: 0;
}

.members p, .member-one-info, .member-two-info {
    height: auto;
    width: 80%;
    font-family: "Roboto Mono";
    font-size: 12px;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    margin-left: 25px;
    padding-bottom: 40px;
    margin-top: 0;
    clear: both;
}

.member-one-row, .member-two-row {
    height: auto;
    width: 290px;
    margin: 0;
    padding: 0;
    margin-left: 5%;
    background-color: rgb(255, 255, 255, 0.062);
    text-align: center;
    align-self: center;
}

.member-one, .member-two {
    margin: 0;
    padding: 0;
    margin-left: 0;
    float: none;
}

.member-one-info, .member-two-info {
    height: auto;
    width: auto;
    margin: 30px;
    padding: 0;
    text-align: justify;
    float: none;
}

.hr-solid {
    clear: both;
    width: 65%;
    border-style: solid;
    border-color: #fff;
    margin-top: 40px;
    margin-bottom: 40px;
}

.hr {
    clear: both;
    width: 35%;
    margin-top: 40px;
    margin-bottom: 40px;
    border-bottom: #fff 2px;
    border-style: dashed;
}

.heading-red {
    text-transform: uppercase;
    font-family: "Roboto Mono";
    color: red;
    text-align: center;
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 40px;
}

body p b {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    text-decoration: overline #fff;
    text-align: center;
}

#names, #names-left {
    text-decoration: none;
    font-size: 20px;
    font-weight: 200;
    float: none;
    text-align: center;
    margin-top: 0;
}

/*------------- Events -----------------------------------------*/

.event-date-row, .event-black-box {
    height: auto;
}

.event-date-description, .event-cancelled {
    float: none;
    text-align: center;
}

.event-cancelled {
    margin: 0;
    margin-left: 30%;
}

.event-date-description {
    float: none;
    margin-left: 25%;
}

.event-date-description b {
    float: none;
    text-align: center;
}

.event-black-box {
    padding-bottom: 12px;
}

.event-date-row {
    padding-bottom: 2px;
    clear: both;
}

/*---------- Footer ---------------------------------------------*/

footer {
    clear: both;
    width: 320px;
}

.footer-container {
    clear: both;
    width: 320px;
}

.footer-list {
    text-align: center;
    vertical-align: middle;
}

.footer-list div{
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding: 0;
    margin: 0;
}

.napalm-logo div i {
    height: auto;
    display: inline-block;
    vertical-align: middle;
}

.napalm-logo img {
    height: 80px;
    padding-top: 12px;
    vertical-align: middle;
}

.social-link-left, .social-link-right {
    width: 45px;
    height: 45px;
    margin-left: 12px;
    margin-right: 12px;
    list-style: none;
    background: #ffffff17;
    align-self: center;
    vertical-align: middle;
    box-shadow: 0px 0px 0px #000;
    border-radius: 40px;
    position: initial;
}

.social-link-left a, .social-link-right a {
    padding-top: 10px;
}

/*------------------- Body ---------------------------------------*/

body {
    background-color: black;
    margin: 0;
    padding: 0;
}

body h2, p {
    text-align: center;
}

.contact-form {
    height: 55%;
    padding: 0;
}

.heading-who {
    text-align: center;
    letter-spacing: 10px;
    margin-left: 20px;
    font-size: 12px;
    font-weight: 100;
}

hr {
    width: 280px;
}

.paragraph-text {
    text-align: center;
    width: 85%;
    margin-left: 20px;
}

.transparent-wrapper {
    margin-right: 0px;
    width: 320px;
    height: 700px;
}

.transparent-wrapper img {
    height: auto;
    width: 50%;
    margin-top: 70px;
}

.spacer-one {
    height: 150px;
    clear: both;
}

.spacer-three {
    clear: both;
}

.spacer-events {
    clear: both;
    width: 100%;
    height: 1300px;
}

.spacer-bio {
    clear: both;
    height: 100px;
    width: 100%;
}

}

@media screen and (device-width:360px) {

    /*---------- Header ---------------------------------------------*/

.nav {
    position: fixed;
    clear: both;
    width: 360px;
}

.nav-bio {
    z-index: 0;
    margin-top: 0;
    clear: both;
    margin-bottom: 20px;
}

.nav li {
    width: auto;
    margin: 2px;
    margin-top: 12px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
}

.spacer-one {
    width: 360px;
}

.spacer-two {
    height: 10%;
    width: 360px;
}

.spacer-contact {
    height: 30%;
    width: 360px;
}

.home-back {
    padding-bottom: 400px;
}

iframe {
    height: auto;
    width: 80%;
    margin-left: 12px;
}

.members {
    height: auto;
    width: 320px;
}

.members img {
    height: 230px;
    width: 230px;
    border: #fff solid 2px;
    margin: 30px;
    clear: both;
    margin-bottom: 0;
    padding-bottom: 0;
}

.members p, .member-one-info, .member-two-info {
    height: auto;
    width: 80%;
    font-family: "Roboto Mono";
    font-size: 12px;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    margin-left: 10%;
    padding-bottom: 40px;
    margin-top: 0;
    clear: both;
}

.member-one-row, .member-two-row {
    height: auto;
    width: 90%;
    margin: 0;
    padding: 0;
    margin-left: 12%;
    background-color: rgb(255, 255, 255, 0.062);
    text-align: center;
    align-self: center;
}

.member-one, .member-two {
    margin: 0;
    padding: 0;
    margin-left: 0;
    float: none;
}

.member-one-info, .member-two-info {
    height: auto;
    width: auto;
    margin: 30px;
    padding: 0;
    text-align: justify;
    float: none;
}

.hr-solid {
    clear: both;
    width: 65%;
    border-style: solid;
    border-color: #fff;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

.hr {
    clear: both;
    width: 35%;
    margin-top: 40px;
    margin-bottom: 40px;
    border-bottom: #fff 2px;
    border-style: dashed;
    text-align: center;
}

.heading-red {
    text-transform: uppercase;
    font-family: "Roboto Mono";
    color: red;
    text-align: center;
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 40px;
}

body p b {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    text-decoration: overline #fff;
    text-align: center;
}

#names, #names-left {
    text-decoration: none;
    font-size: 20px;
    font-weight: 200;
    float: none;
    text-align: center;
    margin-top: 0;
}

/*------------- Events -----------------------------------------*/

.event-date-row, .event-black-box {
    height: auto;
}

.event-date-description, .event-cancelled {
    float: none;
    text-align: center;
}

.event-cancelled {
    margin: 0;
    margin-left: 30%;
}

.event-date-description {
    float: none;
    margin-left: 25%;
}

.event-date-description b {
    float: none;
    text-align: center;
}

.event-black-box {
    padding-bottom: 12px;
}

.event-date-row {
    padding-bottom: 2px;
    clear: both;
}

/*---------- Footer ---------------------------------------------*/

footer {
    clear: both;
    width: 360px;
}

.footer-container {
    clear: both;
    width: 360px;
}

.footer-list {
    text-align: center;
    vertical-align: middle;
}

.footer-list div{
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding: 0;
    margin: 0;
}

.napalm-logo div i {
    height: auto;
    display: inline-block;
    vertical-align: middle;
}

.napalm-logo img {
    height: 80px;
    padding-top: 12px;
    vertical-align: middle;
}

.social-link-left, .social-link-right {
    width: 45px;
    height: 45px;
    margin-left: 12px;
    margin-right: 12px;
    list-style: none;
    background: #ffffff17;
    align-self: center;
    vertical-align: middle;
    box-shadow: 0px 0px 0px #000;
    border-radius: 40px;
    position: initial;
}

.social-link-left a, .social-link-right a {
    padding-top: 10px;
}

/*------------------- Body ---------------------------------------*/

body {
    background-color: black;
    margin: 0;
    padding: 0;
}

body h2, p {
    text-align: center;
}

.contact-form {
    height: 55%;
    padding: 0;
}

.heading-who {
    text-align: center;
    letter-spacing: 10px;
    margin-left: 20px;
    font-size: 12px;
    font-weight: 100;
}

hr {
    width: 80%;
}

.paragraph-text {
    text-align: center;
    width: 85%;
    margin-left: 20px;
}

.transparent-wrapper {
    margin-right: 0px;
    width: 360px;
    height: 700px;
}

.spacer-one {
    height: 150px;
    clear: both;
}

.spacer-three {
    clear: both;
}

.spacer-events {
    clear: both;
    width: 100%;
    height: 1300px;
}

.spacer-bio {
    clear: both;
    height: 100px;
    width: 100%;
}

}

@media screen and (device-width:375px) {

    /*---------- Header ---------------------------------------------*/

.nav {
    position: fixed;
    clear: both;
    width: 375px;
}

.nav-bio {
    z-index: 0;
    margin-top: 0;
    clear: both;
    margin-bottom: 20px;
}

.nav li {
    width: auto;
    margin: 2px;
    margin-top: 12px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
}

.spacer-one {
    width: 375px;
}

.spacer-two {
    height: 10%;
    width: 375px;
}

.spacer-contact {
    height: 30%;
    width: 375px;
}

.home-back {
    padding-bottom: 400px;
}

iframe {
    height: auto;
    width: 80%;
    margin-left: 12px;
}

.members {
    height: auto;
    width: 320px;
}

.members img {
    height: 230px;
    width: 230px;
    border: #fff solid 2px;
    margin: 30px;
    clear: both;
    margin-bottom: 0;
    padding-bottom: 0;
}

.members p, .member-one-info, .member-two-info {
    height: auto;
    width: 80%;
    font-family: "Roboto Mono";
    font-size: 12px;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    margin-left: 10%;
    padding-bottom: 40px;
    margin-top: 0;
    clear: both;
}

.member-one-row, .member-two-row {
    height: auto;
    width: 90%;
    margin: 0;
    padding: 0;
    margin-left: 12%;
    background-color: rgb(255, 255, 255, 0.062);
    text-align: center;
    align-self: center;
}

.member-one, .member-two {
    margin: 0;
    padding: 0;
    margin-left: 0;
    float: none;
}

.member-one-info, .member-two-info {
    height: auto;
    width: auto;
    margin: 30px;
    padding: 0;
    text-align: justify;
    float: none;
}

.hr-solid {
    clear: both;
    width: 65%;
    border-style: solid;
    border-color: #fff;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

.hr {
    clear: both;
    width: 35%;
    margin-top: 40px;
    margin-bottom: 40px;
    border-bottom: #fff 2px;
    border-style: dashed;
    text-align: center;
}

.heading-red {
    text-transform: uppercase;
    font-family: "Roboto Mono";
    color: red;
    text-align: center;
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 40px;
}

body p b {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    text-decoration: overline #fff;
    text-align: center;
}

#names, #names-left {
    text-decoration: none;
    font-size: 20px;
    font-weight: 200;
    float: none;
    text-align: center;
    margin-top: 0;
}

/*------------- Events -----------------------------------------*/

.event-date-row, .event-black-box {
    height: auto;
}

.event-date-description, .event-cancelled {
    float: none;
    text-align: center;
}

.event-cancelled {
    margin: 0;
    margin-left: 30%;
}

.event-date-description {
    float: none;
    margin-left: 25%;
}

.event-date-description b {
    float: none;
    text-align: center;
}

.event-black-box {
    padding-bottom: 12px;
}

.event-date-row {
    padding-bottom: 2px;
    clear: both;
}

/*---------- Footer ---------------------------------------------*/

footer {
    clear: both;
    width: 375px;
}

.footer-container {
    clear: both;
    width: 375px;
}

.footer-list {
    text-align: center;
    vertical-align: middle;
}

.footer-list div{
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding: 0;
    margin: 0;
}

.napalm-logo div i {
    height: auto;
    display: inline-block;
    vertical-align: middle;
}

.napalm-logo img {
    height: 80px;
    padding-top: 12px;
    vertical-align: middle;
}

.social-link-left, .social-link-right {
    width: 45px;
    height: 45px;
    margin-left: 12px;
    margin-right: 12px;
    list-style: none;
    background: #ffffff17;
    align-self: center;
    vertical-align: middle;
    box-shadow: 0px 0px 0px #000;
    border-radius: 40px;
    position: initial;
}

.social-link-left a, .social-link-right a {
    padding-top: 10px;
}

/*------------------- Body ---------------------------------------*/

body {
    background-color: black;
    margin: 0;
    padding: 0;
}

body h2, p {
    text-align: center;
}

.contact-form {
    height: 55%;
    padding: 0;
}

.heading-who {
    text-align: center;
    letter-spacing: 10px;
    margin-left: 20px;
    font-size: 12px;
    font-weight: 100;
}

hr {
    width: 80%;
}

.paragraph-text {
    text-align: center;
    width: 85%;
    margin-left: 20px;
}

.transparent-wrapper {
    margin-right: 0px;
    width: 375px;
    height: 700px;
}

.spacer-one {
    height: 150px;
    clear: both;
}

.spacer-three {
    clear: both;
}

.spacer-events {
    clear: both;
    width: 100%;
    height: 1300px;
}

.spacer-bio {
    clear: both;
    height: 100px;
    width: 100%;
}

}

@media screen and (device-width:414px) {

    /*---------- Header ---------------------------------------------*/

.nav {
    position: fixed;
    clear: both;
    width: 414px;
}

.nav-bio {
    z-index: 0;
    margin-top: 0;
    clear: both;
    margin-bottom: 20px;
}

.nav li {
    width: auto;
    margin: 2px;
    margin-top: 12px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
}

.spacer-one {
    width: 414px;
}

.spacer-two {
    height: 10%;
    width: 414px;
}

.spacer-contact {
    height: 30%;
    width: 414px;
}

.home-back {
    padding-bottom: 400px;
}

iframe {
    height: auto;
    width: 80%;
    margin-left: 12px;
}

.members {
    height: auto;
    width: 414px;
}

.members img {
    height: 230px;
    width: 230px;
    border: #fff solid 2px;
    margin: 30px;
    clear: both;
    margin-bottom: 0;
    padding-bottom: 0;
}

.members p, .member-one-info, .member-two-info {
    height: auto;
    width: 90%;
    font-family: "Roboto Mono";
    font-size: 12px;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    margin-left: 10%;
    padding-bottom: 40px;
    margin-top: 0;
    clear: both;
}

.member-one-row, .member-two-row {
    height: auto;
    width: 80%;
    margin: 0;
    padding: 0;
    margin-left: 10%;
    background-color: rgb(255, 255, 255, 0.062);
    text-align: center;
    align-self: center;
}

.member-one, .member-two {
    margin: 0;
    padding: 0;
    margin-left: 0;
    float: none;
}

.member-one-info, .member-two-info {
    height: auto;
    width: auto;
    margin: 30px;
    padding: 0;
    text-align: justify;
    float: none;
}

.hr-solid {
    clear: both;
    width: 65%;
    border-style: solid;
    border-color: #fff;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

.hr {
    clear: both;
    width: 35%;
    margin-top: 40px;
    margin-bottom: 40px;
    border-bottom: #fff 2px;
    border-style: dashed;
    text-align: center;
}

.heading-red {
    text-transform: uppercase;
    font-family: "Roboto Mono";
    color: red;
    text-align: center;
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 40px;
}

body p b {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    text-decoration: overline #fff;
    text-align: center;
}

#names, #names-left {
    text-decoration: none;
    font-size: 20px;
    font-weight: 200;
    float: none;
    text-align: center;
    margin-top: 0;
}

/*------------- Events -----------------------------------------*/

.event-date-row, .event-black-box {
    height: auto;
}

.event-date-description, .event-cancelled {
    float: none;
    text-align: center;
}

.event-cancelled {
    margin: 0;
    margin-left: 32%;
}

.event-date-description {
    float: none;
    margin-left: 30%;
    text-align: center;
}

.event-date-description b {
    float: none;
    text-align: center;
}

.event-black-box {
    padding-bottom: 12px;
}

.event-date-row {
    padding-bottom: 2px;
    clear: both;
}

/*---------- Footer ---------------------------------------------*/

footer {
    clear: both;
    width: 414px;
}

.footer-container {
    clear: both;
    width: 414px;
}

.footer-list {
    text-align: center;
    vertical-align: middle;
}

.footer-list div{
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding: 0;
    margin: 0;
}

.napalm-logo div i {
    height: auto;
    display: inline-block;
    vertical-align: middle;
}

.napalm-logo img {
    height: 80px;
    padding-top: 12px;
    vertical-align: middle;
}

.social-link-left, .social-link-right {
    width: 45px;
    height: 45px;
    margin-left: 12px;
    margin-right: 12px;
    list-style: none;
    background: #ffffff17;
    align-self: center;
    vertical-align: middle;
    box-shadow: 0px 0px 0px #000;
    border-radius: 40px;
    position: initial;
}

.social-link-left a, .social-link-right a {
    padding-top: 10px;
}

/*------------------- Body ---------------------------------------*/

body {
    background-color: black;
    margin: 0;
    padding: 0;
}

body h2, p {
    text-align: center;
}

.contact-form {
    height: 55%;
    padding: 0;
}

.heading-who {
    text-align: center;
    letter-spacing: 10px;
    margin-left: 20px;
    font-size: 12px;
    font-weight: 100;
}

hr {
    width: 80%;
}

.paragraph-text {
    text-align: center;
    width: 85%;
    margin-left: 30px;
}

.transparent-wrapper {
    margin-right: 0px;
    width: 414px;
    height: 700px;
}

.spacer-one {
    height: 150px;
    clear: both;
}

.spacer-three {
    clear: both;
}

.spacer-events {
    clear: both;
    width: 100%;
    height: 1300px;
}

.spacer-bio {
    clear: both;
    height: 100px;
    width: 100%;
}

}

/*----------------------- Media Queries Tablets ------------------------------*/

@media screen and (device-width:768px) {

.members img {
    height: 300px;
    width: 300px;
    margin-top: 15%;
    float: none;
}

.member-one, .member-two {
    float: none;
    margin: 0;
    padding: 0;
}

.member-one-info, .member-two-info {
    float: none;
    text-align: center center;
    margin: 0;
    padding: 0;
    margin-left: 23%;
}

.members p {
    text-align: justify;
    float: none;
    margin-bottom: 15%;
}

.member-one-row, .member-two-row {
    height: 860px;
    width: 80%;
    margin: 0;
    margin-left: 10%;
    padding: 0;    
}

#names {
    float: left;
}

#names-left {
    float: right;
}

body {
    background: url("../images/BioBack.jpg") fixed;
    background-repeat: no-repeat center center;
    background-size: cover;
}

.contacts-back {
    height: 770px;
}

}

@media screen and (device-width:1024px) {

    .members img {
        height: 400px;
        width: 400px;
        margin-top: 15%;
        float: none;
    }
    
    .member-one, .member-two {
        float: none;
        margin: 0;
        padding: 0;
    }
    
    .member-one-info, .member-two-info {
        float: none;
        text-align: center center;
        margin: 0;
        padding: 0;
        margin-left: 30%;
    }
    
    .members p {
        text-align: justify;
        float: none;
        margin-bottom: 15%;
        font-size: 20px;
    }
    
    .member-one-row, .member-two-row {
        height: 1380px;
        width: 80%;
        margin: 0;
        margin-left: 10%;
        padding: 0;    
    }
    
    #names {
        float: left;
        font-size: 30px;
    }
    
    #names-left {
        float: right;
        font-size: 30px;
    }
    
    body {
        background: url("../images/BioBack.jpg") fixed;
        background-repeat: no-repeat center center;
        background-size: cover;
    }
    
    .contacts-back {
        background-image: url("../images/ContactsBack2.jpg");
        background-color: #000000;
        background-size: cover;
        background-repeat: no-repeat center center;
        padding-bottom: 900px;
        padding-top: 120px;
    }
    
    .contact-form {
        margin-top: 300px;
    }

    .home-transparent-wrapper {
        height: 100%;
    }

    .home-text-back {
        padding-top: 22%;
        padding-bottom: 22%;
    }

    .home-paragraph-text-tablet {
        margin-left: 5%;
        margin-right: 5%;
    }

    }